.container1{
	/* font-size: 0;
	padding:10px;
	width:auto; */

box-sizing:border-box;
width: 100%;
padding:10px;


}


.col-sm-4, .col-md-4,.col-lg-4,.col-sm-3,.col-md-3,.col-md-3,
.col-sm-1,.col-md-1,.col-lg-1,.col-sm-2,.col-md-2,.col-lg-2,
.col-sm-6,.col-md-6,.col-lg-6
{
  /*   box-sizing:border-box;
  display: inline-block;
  *display: inline-block;
  *zoom:1;
  margin:10px; */

   border-sizing:border-box;
   margin:10px;
   float:left;
   text-align: center;
   vertical-align: middle;
	border:1px solid #999;
	background-color: #eee;
	height: 50px;
}


.container2{
box-sizing:border-box;
width: 100%;
padding:10px;
}

div[class^="col-xs-"]{

   border-sizing:border-box;
   margin:10px;
   float:left;
   text-align: center;
   vertical-align: middle;
	border:1px solid #999;
	background-color: #eee;
	height: 50px;

}
