*{
  margin:0;
  padding:0;
}
.container{
box-sizing:border-box;
width: 100%;
padding:10px;

}
.col-md-4,.col-md-3,.col-md-6,.col-md-1,.col-md-2
{
  
   border-sizing:border-box;
   padding:10px;
   float:left;
   text-align: center;
   vertical-align: middle;
 
}



div[class^="contnt-"]{

   border-sizing:border-box;
   padding:10px;
   text-align: center;
   vertical-align: middle;
	border:1px solid #999;
	background-color: #eee;
	height: 50px;

}

@media screen and (max-width:768px){

         
     .col-xs-8,.col-xs-6,.col-xs-12,.col-xs-3,.col-xs-2{
           border-sizing:border-box;
           padding:10px;
           float:left;
           text-align: center;
           vertical-align: middle;
     }

}